.logo-container {
  display: inline-block;
  padding: 10px; /* Adjust as needed */
  border-radius: 10px; /* Rounded corners */
  background: transparent; /* No background */
  box-shadow: 0 0 15px rgb(144, 0, 255); /* Constant glow */
}

.sticky {
  background-color: #fff; /* Change as needed */
}

.navbar {
  background-color: transparent; /* Change as needed */
}
